<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Loading Bootstrap -->
        <link href="/css/bootstrap3.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/site.css">

    </head>
    <body>

        <div class="container site">
          <div class="page-header">
            <h1 class="title">
              {% if page.url != '/' %}
              <a href="/">{{ site.name }}</a>
              {% else %}
                {{ site.name }}
              {% endif %}
            </h1>
            </div>
          <div class="content">
            {{ content }}
            {% if page.date %}
            <div class="page-date">{{ page.date | date_to_string }}</div>
            {% endif %}
            {% if page.path and site.github.name and site.github.project and site.github.branch %}
            <div class="post-edit">
              <a class="post-edit--prose" href="http://prose.io/#{{ site.github.name }}/{{ site.github.project }}/edit/{{ site.github.branch }}/{{ page.path }}">Edit page in Prose</a> or <a class="post-edit--github" href="https://github.com/{{ site.github.name }}/{{ site.github.project }}/edit/{{ site.github.branch }}/{{ page.path }}">Github.</a>
            </div>
            {% endif %}

          </div>
        </div> <!-- /container -->

    </body>
</html>
